* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-image: url(assets/pexels-felix-mittermeier-956999.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 20px;
    overflow: hidden;
}

a {
    color: white;
}

.navbar {
    width: 100%;
    min-height: 100%;
}

.mobile-nav-toggle {
    display: none;
}

span {
    display: none;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: center;
}

.nav-links li {
    padding: 10px;
}

.nav-links li:hover {
    background-color: black;
    border-radius: 1rem;
    transition: background-color 0.5s ease;
}

.nav-links li a {
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-weight: bolder;
}

.button-line {
    display: flex;
    width: 35px;
    height: 5px;
    background-color: steelblue;
    border-radius: 5px;
}

.button-line1 {
    transform-origin: 0% 0%;
    transition: transform 0.3s ease-in-out;
}
  
.button-line2 {
    transition: transform 0.2s ease-in-out;
}
  
.button-line3 {
    transform-origin: 0% 100%;
    transition: transform 0.3s ease-in-out;
}

.mobile-nav-toggle .button-line1.active {
    transform-origin: 0% 0%;
    transform: rotate(-320deg);
}

.mobile-nav-toggle .button-line2.active {
    transform: scale(0, 0);
}

.mobile-nav-toggle .button-line3.active {
    transform-origin: 0% 100%;
    transform: rotate(320deg);
}

@media (max-width: 768px) {
    .nav-links {
        flex-direction: column;
        justify-content: flex-start;

        gap: 1.5rem;
        position: fixed;
        inset: 0 0 0 60%;
        z-index: 1000;

        background-color: rgba(0, 0, 0, 0.1);
        padding: min(30vh, 10rem) 2rem;
        backdrop-filter: blur(1rem);

        transform: translateX(100%);
        transition: transform 0.5s ease-out;
    }

    .nav-links.active {
        transform: translateX(0);
    }

    .mobile-nav-toggle {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        position: absolute;
        z-index: 9999;
        width: 2rem;
        aspect-ratio: 1;
        top: 2rem;
        right: 2rem;
        border: 0;
    }

    .nav-links li:hover {
        background-color: rgba(0, 0, 0, 0.2);
        border-radius: 1rem;
        transition: background-color 0.5s ease;
    }
}